.navBar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blanchedalmond;
}
.homePanel, .showPlacePanel, .teamPanel, .contactsPanel
{
    margin-right: var(--navbar--margin);
    
}
.homePanel, .showPlacePanel, .teamPanel, .contactsPanel :hover
{
    cursor: pointer;
}
.home, .showPlace, .team, .contacts
{
    /* font-family: var(--navbar-font); */
    font-size: var(--navbar-text-size);
    opacity: 60%;
}
#introductionPanel
{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.705);
    /* margin-top: 30px; */
    background-color: rgba(255, 235, 205, 0.87);
    height: auto;
}
#introductionText
{
    display: flex;
    height: 0px;
    transition: 0.5s;
    margin-top: -10px;
}
.destinationsPanel
{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    height: auto;
    display: flex;

}
@media only screen and (max-width: 1000px)
{
.destinationsPanel
{
    flex-direction: column;
}
}
.muzei1Panel, .muzei2Panel
{
    width: 300px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin-right: 50px;
    justify-content:flex-start;
}
.title1Panel, .title2Panel
{
    font-size: 1.4rem;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
#muzei1Image, #muzei2Image
{
    width: 300px;
    transition: 1s ease;
    border-radius: 8px;
    border:1px solid rebeccapurple;
}
.showInformationButton1, .showInformationButton2
{
    display: flex;
    position: sticky;
}


/* //// */
.showInformationButton1, .showInformationButton2 {
	width: 150px;
    padding: 10.5px;
	cursor: pointer;
    font-size: 0.8rem;
	/* background: #ffc421; */
    background: rebeccapurple;
	border: 2px solid black;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	transition: 500ms;
    border-radius: 5px;
    color: white;
}

.showInformationButton1:hover, .showInformationButton2:hover {
	transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}
button:focus {
	outline: none;
}
/* ///// */
#button1Panel, .button2Panel
{
    margin-top:-140px;
    display: flex;
    justify-content: center;
    /* visibility:hidden; */
    opacity: 0;
    transition: ease-in-out 0.5s;
    transition-delay: 0.2s;
}
#information1Panel, #information2Panel
{
    border: 2px solid rgba(102, 51, 153, 0.418);
    padding: 5px;
    margin-top: 130px;
    display: none;
    transition:transform 0.3s ease-out;
    height: auto;
}
.information1Panel.collapsed, .information2Panel.collapsed
{
    transform:scaleY(0);
}
.text1, .text2
{
    background-color:rgba(95, 158, 160, 0.247);
    padding: 10px;
}
/* .sitePresentationPanel
{
    display: flex;
    flex-wrap: wrap;
    height: 23rem;
}
.titlePanel
{
    width: 50%;
    text-align: center;
    background-color:rgba(153, 205, 50, 0.932);
    color: white;
}
.teamTextPanel
{
    width: 50%;
    text-align: center;
    background-color:white;
}
.title, .teamText
{
    font-size: 2rem;
    font-family: var(--navbar-font);
    font-size: 1.7rem;
}
.teamText
{
    font-size: 1.3rem;
}
.muzei1TitlePanel
{
    text-align: center;
    background-color:white;
    width: 100%;
    height: 4rem;
    justify-content: center;
    text-align: center;
}
.muzei1Title
{
    font-size: 2rem;
    font-family: var(--navbar-font);
    font-size: 1.7rem;
    margin: 0;
}
.muzei1
{
    display: flex;
    height: 23rem;
    justify-content: center;
}
.muzei1ImagePanel
{
    width: 50%;
    background-color: white;
}
.muzei1Image
{
    width: 100%;
    color: white;
}
.muzei1TextPanel
{
    width: 50%;
    text-align: center;
    background-color:rgba(153, 205, 50, 0.932);
    color: white;
}
.muzei1Text
{
    font-family: var(--navbar-font);
    font-size: 1.3rem;
} */


