@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root
{
    --main-bg-color: aliceblue;
    --navbar--margin: 5%;
    --navbar-font: Verdana, Geneva, Tahoma, sans-serif;
    --navbar-text-size: 1.5rem;
}

body
{
    background-color: var(--main-bg-color);
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
@media screen and (max-width: 1000px)
{
    body
    {
        margin: 0;
    }
}
